<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Micro Camp Book Store</title>
    <link href="/commons.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments.html :: menu"></div>
<div id="content">
    <div class="book" th:each="book : ${books}">
        <div class="title" th:text="${book.title}"></div>
        <div class="author" th:text="${book.author}"></div>
        <div class="price" th:text="'Cena: ' + ${book.price} + ' zł'"></div>
        <div class="quantity" th:text="'Zostało ' + ${book.quantity} + ' sztuk'"></div>
    </div>
</div>
</body>
</html>